body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 100px;
}


.nav-link{
    color: red;
}

.nav-bar h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.nav-bar{
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: bold;
    color:rgb(0, 8, 123);
    background-color: #120F3B
}

.nav-bar a{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 15px;
    text-decoration: none;
}

.logout_form{
    margin-left: auto;
    display: flex;
    align-items:center;
    gap: 7px;
    color: white;
}

.titulo_demandas{
    height: 60px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(74, 74, 74);
    color: white;
    border: 4px solid blue;
    border-radius: 4px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}

.demanda{
    width: 50%;
    min-width: 350px;
    background-color: rgb(74, 74, 74);
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 30px;
    border: 7px solid rgb(0, 136, 255);
    box-sizing: border-box;
}

.row{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
}

@media (max-width: 1000px) {
    .nav-bar h1{
        display: none;
    }

    .row{
        gap: 3%;
        justify-content: baseline;
    
    }

    .demanda{
        height: 30%;
    }
  
}

.linha{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: rgb(0, 136, 255);
    height: 3px;
    border: 1px solid rgb(0, 136, 255);
}

.cadastrar_demanda {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #2200ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.information{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 0px;
}

.form_senha{
    box-sizing: border-box;
    line-height: 80px;
    text-align: center;
}

.input_password{
    border: 3px solid gray;
    border-radius: 2px;
    width: 40%;
    height: 30px;
}

.cell{
    margin-bottom: 30px;
}

.button{
    color:white;
    background-color: rgb(93, 0, 255);
    width: 80px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;

}

.label_senha{
    color: white;
}

.hr_coluna{
    height: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(0, 136, 255);
    border: 3px solid rgb(0, 136, 255);
    margin-left: 0px;
    margin-right: 0px;

}

.material-symbols-outlined{
    margin: 0px;
    color: red;
}

.modal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
}

/* Conteúdo do modal */
.modal-content {
    background: #fff;
    border: 5px solid blue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    position: relative;
}

/* Botões dentro do modal */
.modal-buttons button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

/* Botão de "Testes com Usuário" */
#BtnTeste,#BtnGuide {
    background-color: #1100ff;
    color: white;
    height: 80px;
}



#Btn:hover {
    background-color: #cf00d6;
}

/* Botão para fechar o modal */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.modal h2{
    color: #2200ff;
}

.fechar{
        position: relative;
        width: 50px;
        height: 50px;
        margin-top: -35px;
        margin-left: 490px;
      
}